In [1]:
import requests
import json
import pandas as pd

In [2]:
def get_data_from_file(file):
    with open(file, "r") as f:
        data = json.load(f)['trackIds']
        for i in range(len(data)):
            if ':' in str(data[i]):
                data[i] = data[i].split(':')[0]
            data[i] = int(data[i])
        return data

In [3]:
def link_two_dbs(a, b):
    i = 0
    while i < len(a):
        j = i
        k = 0
        while True:
            if j == len(a):
                return a + b[k:]
            if k == len(b):
                return a
            if a[j] != b[k]:
                break
            j += 1
            k += 1
        i += 1
    return a + b

In [4]:
def link_data(data):
    result = list(reversed(data[0]))
    i = 1
    while i < len(data):
        result = link_two_dbs(result, list(reversed(data[i])))
        i += 1
    return result

In [5]:
def link_files(files):
    data = []
    count = 0
    for file in files:
        filedata = get_data_from_file(file)
        data.append(filedata)
        count += len(filedata)
    linked = link_data(data)
    print("Recieved {} lines of  rawdata, cutted {} duplicates\n\
Total {} lines ready for analysis".format(count, count-len(linked), len(linked)))
    return linked

In [6]:
# OREDERED BY TIME datafiles
CACHED_DATA = [
    "sample_data/data14.07.2021.json",
    "sample_data/data22.09.2021.json",
    "sample_data/data31.01.2022.json",
    "sample_data/data13.07.2022.json",
    "sample_data/data25.07.2022.json"    
]

In [7]:
data = link_files(CACHED_DATA)

Recieved 18992 lines of  rawdata, cutted 8816 duplicates
Total 10176 lines ready for analysis

In [8]:
data

[71122149,
 69045090,
 79292625,
 46624176,
 37701015,
 76938919,
 47680,
 47680,
 34139530,
 66496239,
 70108159,
 628970,
 672687,
 66201243,
 69045090,
 108617,
 78814159,
 83063887,
 79913539,
 14583112,
 14583115,
 41763695,
 5251321,
 5251325,
 5251323,
 5186663,
 4786230,
 71122149,
 66201243,
 69045090,
 69045090,
 69045090,
 69045090,
 69045090,
 69045090,
 69045090,
 75378018,
 672687,
 76938919,
 76938919,
 43876189,
 43876189,
 43876189,
 43876189,
 43876189,
 82218365,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 70108159,
 70108159,
 46624176,
 80818209,
 80818209,
 62333845,
 62556361,
 62556361,
 62556361,
 62556361,
 38080593,
 80818209,
 80818209,
 80818209,
 80818209,
 80818209,
 80818209,
 80818209,
 62556361,
 38080593,
 38080593,
 38080593,
 38080593,
 33499838,
 17195431,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 69045090,
 66201243,
 38080593,
 46624176,
 178616,
 78824202,
 69045090,
 70108159,
 83508026,
 62556361,
 83508026,
 66201243,
 83508026,
 83508026,
 83508026,
 83508026,
 83508026,
 83508026,
 83508026,
 83508026,
 83508026,
 83508026,
 83508026,
 83508026,
 83508026,
 83508026,
 69178608,
 69178608,
 80818209,
 80818209,
 80818209,
 70108159,
 80397035,
 83508026,
 73054242,
 83508026,
 83508026,
 83508026,
 83508026,
 62556361,
 83508026,
 83508026,
 83508026,
 24634398,
 43876189,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 83508026,
 83508026,
 83508026,
 83508026,
 83508026,
 83508026,
 83508026,
 83508026,
 83508026,
 83508026,
 69045090,
 69045090,
 83508026,
 78140098,
 78140098,
 78140098,
 78140098,
 78140098,
 78140098,
 78140098,
 78140098,
 78140098,
 78140098,
 78140098,
 78140098,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 62556361,
 80818209,
 80818209,
 80818209,
 80818209,
 80818209,
 80818209,
 83950826,
 83950827,
 83950828,
 83950829,
 83950830,
 83950833,
 83950835,
 83950837,
 83950839,
 83950840,
 83950842,
 80818209,
 80818209,
 80818209,
 83950826,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950826,
 83950827,
 83950828,
 83950829,
 83950830,
 83950833,
 83950835,
 83950837,
 83950839,
 83950840,
 83950842,
 83950826,
 83950827,
 83950828,
 83950829,
 83950830,
 83950830,
 83950833,
 83950835,
 83950837,
 83950839,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 66201243,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950827,
 83950830,
 83950830,
 83950830,
 83950827,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 628432,
 628432,
 628432,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 83950830,
 80328833,
 83950830,
 83950826,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950830,
 43945741,
 555639,
 44939814,
 2328601,
 25699974,
 473458,
 473458,
 479843,
 65765,
 2662116,
 178624,
 178624,
 813824,
 479842,
 403096,
 3616433,
 96089,
 96089,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 23837760,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 62556361,
 62556361,
 81258693,
 471935,
 26361764,
 66999303,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 70408028,
 83950833,
 83950833,
 83950833,
 83950833,
 83950833,
 24547041,
 687156,
 42922683,
 44095944,
 44095944,
 471942,
 68818343,
 33499843,
 26689921,
 262702,
 24442520,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 24442520,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 438411,
 83950826,
 83950827,
 83950828,
 83950829,
 83950830,
 83950833,
 83950835,
 83950837,
 52838282,
 2786766,
 2786766,
 5251321,
 5251325,
 5251323,
 5186663,
 4786230,
 5251326,
 5251320,
 5251327,
 5251324,
 5251319,
 5251322,
 4384599,
 51143747,
 4384599,
 49198563,
 29470024,
 49198563,
 45868914,
 45868914,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 628970,
 72582099,
 24634403,
 370406,
 108617,
 307837,
 19897499,
 69470599,
 672687,
 672687,
 83950826,
 83950826,
 83950827,
 83950828,
 83950829,
 83950830,
 83950833,
 83950835,
 83950837,
 83950839,
 83950840,
 83950842,
 65851540,
 360946,
 39257277,
 33977439,
 75944934,
 23559960,
 28153139,
 651452,
 14235025,
 789015,
 36367574,
 18800273,
 25861605,
 3616434,
 2166480,
 37384,
 25788,
 25903446,
 25903446,
 18964018,
 479844,
 29470011,
 27374365,
 24634387,
 403276,
 4317243,
 44139240,
 44139240,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 80328592,
 38080593,
 82056827,
 66496239,
 24442508,
 38080593,
 38080593,
 38080593,
 38080593,
 38080593,
 38080593,
 66496239,
 66496239,
 62170484,
 24442516,
 83950842,
 62556361,
 62556361,
 21028501,
 75237390,
 75237390,
 24634398,
 62556361,
 62556361,
 83950826,
 83950827,
 83950828,
 83950829,
 83950830,
 83950833,
 83950835,
 83950837,
 83950839,
 83950840,
 83950842,
 24634398,
 83950826,
 83950826,
 83950826,
 83950833,
 83950835,
 83950827,
 83950840,
 37701015,
 46624176,
 62556355,
 83950830,
 43876189,
 24442523,
 60441989,
 60441989,
 80328592,
 80328592,
 62556361,
 62556361,
 62556361,
 62556361,
 38080593,
 38080593,
 62170484,
 83950826,
 83950826,
 83950826,
 66496239,
 66496239,
 66496239,
 438411,
 438411,
 438411,
 83950835,
 83950828,
 83950830,
 83950833,
 83950827,
 83950827,
 83950827,
 83950833,
 83950830,
 83950833,
 83950835,
 83950828,
 62333843,
 62333846,
 62333845,
 77921393,
 62556361,
 66496239,
 438411,
 80328592,
 35494132,
 33499838,
 75237403,
 1177,
 24634398,
 62556361,
 62556361,
 62556361,
 24442508,
 24442530,
 24442523,
 23837760,
 83950835,
 62333844,
 18964018,
 62556361,
 62556361,
 62556361,
 61209859,
 61209859,
 61209859,
 61209859,
 36519767,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 38080593,
 38080593,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 36519767,
 25210,
 25699974,
 479843,
 96089,
 4230309,
 65765,
 813824,
 473458,
 780738,
 63827,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 61209859,
 ...]

In [9]:
len(data)

10176

In [23]:
df = pd.DataFrame({'id' : data, 'count' : 1})

In [24]:
df

             id  count
0      71122149      1
1      69045090      1
2      79292625      1
3      46624176      1
4      37701015      1
...         ...    ...
10171  62556361      1
10172  62556361      1
10173  59855628      1
10174  61737606      1
10175  61737606      1

[10176 rows x 2 columns]

In [25]:
df = df.groupby(by='id').count().reset_index()

In [26]:
df

             id  count
0          1062      1
1          1177      8
2          5426      1
3          6106      1
4          6130      1
...         ...    ...
2186  104713584      1
2187  104876811      1
2188  105298573      1
2189  105542484      1
2190  105837876      1

[2191 rows x 2 columns]

In [27]:
from yandex_music import Track, Client

In [28]:
client = Client()

In [29]:
client.tracks('90299351')[0]['artists']

[{'id': 6474083, 'error': None, 'reason': None, 'name': 'Роки', 'cover': {'type': 'from-artist-photos', 'uri': 'avatars.yandex.net/get-music-content/6447985/2ca33421.p.6474083/%%', 'items_uri': None, 'dir': None, 'version': None, 'custom': None, 'is_custom': None, 'copyright_name': None, 'copyright_cline': None, 'prefix': '2ca33421.p.6474083/', 'error': None}, 'various': False, 'composer': False, 'genres': [], 'og_image': None, 'op_image': None, 'no_pictures_from_search': None, 'counts': None, 'available': None, 'ratings': None, 'links': [], 'tickets_available': None, 'likes_count': None, 'popular_tracks': [], 'regions': None, 'decomposed': None, 'full_names': None, 'hand_made_description': None, 'description': None, 'countries': None, 'en_wikipedia_link': None, 'db_aliases': None, 'aliases': None, 'init_date': None, 'end_date': None, 'ya_money_id': None}]

In [30]:
df['data'] = client.tracks(df['id'])

In [31]:
df

             id  count                                               data
0          1062      1  {'id': '1062', 'title': 'La Camisa Negra', 'av...
1          1177      8  {'id': '1177', 'title': 'We Made You', 'availa...
2          5426      1  {'id': '5426', 'title': 'You Know My Name', 'a...
3          6106      1  {'id': '6106', 'title': 'The Letter', 'availab...
4          6130      1  {'id': '6130', 'title': 'Nights in White Satin...
...         ...    ...                                                ...
2186  104713584      1  {'id': '104713584', 'title': 'Держись', 'avail...
2187  104876811      1  {'id': '104876811', 'title': 'Blocked', 'avail...
2188  105298573      1  {'id': '105298573', 'title': 'Плачу внутрь', '...
2189  105542484      1  {'id': '105542484', 'title': 'Шёпот далёких зв...
2190  105837876      1  {'id': '105837876', 'title': 'Конечная станция...

[2191 rows x 3 columns]

In [32]:
df['name'] = ""
df['artist'] = ""

In [33]:
df

,id,count,data,name,artist
0,1062,1,"{'id': '1062', 'title': 'La Camisa Negra', 'av...",,
1,1177,8,"{'id': '1177', 'title': 'We Made You', 'availa...",,
2,5426,1,"{'id': '5426', 'title': 'You Know My Name', 'a...",,
3,6106,1,"{'id': '6106', 'title': 'The Letter', 'availab...",,
4,6130,1,"{'id': '6130', 'title': 'Nights in White Satin...",,
...,...,...,...,...,...
2186,104713584,1,"{'id': '104713584', 'title': 'Держись', 'avail...",,
2187,104876811,1,"{'id': '104876811', 'title': 'Blocked', 'avail...",,
2188,105298573,1,"{'id': '105298573', 'title': 'Плачу внутрь', '...",,
2189,105542484,1,"{'id': '105542484', 'title': 'Шёпот далёких зв...",,
2190,105837876,1,"{'id': '105837876', 'title': 'Конечная станция...",,

In [41]:
pd.options.mode.chained_assignment = None
for i in range(len(df)):
    df['name'][i] = df['data'][i]['title']
    try:
        df['artist'][i] = df['data'][i]['artists'][0]['name']
        for artist in df['data'][i]['artists'][1:]:
            df['artist'][i] += ", " + artist['name']
    except IndexError as e:
        df['artist'][i] = "Unknown"

In [42]:
df

,id,count,data,name,artist
0,1062,1,"{'id': '1062', 'title': 'La Camisa Negra', 'av...",La Camisa Negra,Juanes
1,1177,8,"{'id': '1177', 'title': 'We Made You', 'availa...",We Made You,Eminem
2,5426,1,"{'id': '5426', 'title': 'You Know My Name', 'a...",You Know My Name,Chris Cornell
3,6106,1,"{'id': '6106', 'title': 'The Letter', 'availab...",The Letter,The Box Tops
4,6130,1,"{'id': '6130', 'title': 'Nights in White Satin...",Nights in White Satin,The Moody Blues
...,...,...,...,...,...
2186,104713584,1,"{'id': '104713584', 'title': 'Держись', 'avail...",Держись,Asper X
2187,104876811,1,"{'id': '104876811', 'title': 'Blocked', 'avail...",Blocked,NICKY ØDESSA
2188,105298573,1,"{'id': '105298573', 'title': 'Плачу внутрь', '...",Плачу внутрь,"INSPACE, katanacss"
2189,105542484,1,"{'id': '105542484', 'title': 'Шёпот далёких зв...",Шёпот далёких звёзд,pyrokinesis
2190,105837876,1,"{'id': '105837876', 'title': 'Конечная станция...",Конечная станция,Markul

In [43]:
df = df.sort_values(['count'], ascending=False)

In [44]:
df

,id,count,data,name,artist
1357,62556361,299,"{'id': '62556361', 'title': 'Марафоны', 'avail...",Марафоны,"Три дня дождя, Роки"
1806,80328592,160,"{'id': '80328592', 'title': 'Фьюче симпл', 'av...",Фьюче симпл,Narkomfin
1310,61209859,135,"{'id': '61209859', 'title': 'Красота', 'availa...",Красота,Три дня дождя
1764,78786629,113,"{'id': '78786629', 'title': 'Обсудим за столом...",Обсудим за столом,plagueinside
1315,61563837,113,"{'id': '61563837', 'title': 'Конфетти', 'avail...",Конфетти,Port Avenue
...,...,...,...,...,...
871,39980101,1,"{'id': '39980101', 'title': 'Взрывая тишину', ...",Взрывая тишину,Коrsика
868,39915054,1,"{'id': '39915054', 'title': 'Eleanor Rigby', '...",Eleanor Rigby,The Beatles
865,39843915,1,"{'id': '39843915', 'title': 'before I close my...",before I close my eyes,XXXTentacion
864,39843905,1,"{'id': '39843905', 'title': 'NUMB', 'available...",NUMB,XXXTentacion
2190,105837876,1,"{'id': '105837876', 'title': 'Конечная станция...",Конечная станция,Markul

In [45]:
df = df.reset_index()
df

,index,id,count,data,name,artist
0,1357,62556361,299,"{'id': '62556361', 'title': 'Марафоны', 'avail...",Марафоны,"Три дня дождя, Роки"
1,1806,80328592,160,"{'id': '80328592', 'title': 'Фьюче симпл', 'av...",Фьюче симпл,Narkomfin
2,1310,61209859,135,"{'id': '61209859', 'title': 'Красота', 'availa...",Красота,Три дня дождя
3,1764,78786629,113,"{'id': '78786629', 'title': 'Обсудим за столом...",Обсудим за столом,plagueinside
4,1315,61563837,113,"{'id': '61563837', 'title': 'Конфетти', 'avail...",Конфетти,Port Avenue
...,...,...,...,...,...,...
2186,871,39980101,1,"{'id': '39980101', 'title': 'Взрывая тишину', ...",Взрывая тишину,Коrsика
2187,868,39915054,1,"{'id': '39915054', 'title': 'Eleanor Rigby', '...",Eleanor Rigby,The Beatles
2188,865,39843915,1,"{'id': '39843915', 'title': 'before I close my...",before I close my eyes,XXXTentacion
2189,864,39843905,1,"{'id': '39843905', 'title': 'NUMB', 'available...",NUMB,XXXTentacion
2190,2190,105837876,1,"{'id': '105837876', 'title': 'Конечная станция...",Конечная станция,Markul

In [46]:
with open('result.txt', 'w') as f3:
    for i in range(len(df)):
        f3.write("{0:<5} {1} - {2}\n".format(df['count'][i], df['artist'][i], df['name'][i]))

In [47]:
df = df[['id', 'count', 'name', 'artist', 'data']]

In [48]:
df.head(60)

,id,count,name,artist,data
0,62556361,299,Марафоны,"Три дня дождя, Роки","{'id': '62556361', 'title': 'Марафоны', 'avail..."
1,80328592,160,Фьюче симпл,Narkomfin,"{'id': '80328592', 'title': 'Фьюче симпл', 'av..."
2,61209859,135,Красота,Три дня дождя,"{'id': '61209859', 'title': 'Красота', 'availa..."
3,78786629,113,Обсудим за столом,plagueinside,"{'id': '78786629', 'title': 'Обсудим за столом..."
4,61563837,113,Конфетти,Port Avenue,"{'id': '61563837', 'title': 'Конфетти', 'avail..."
5,83950827,111,Перезаряжай,Три дня дождя,"{'id': '83950827', 'title': 'Перезаряжай', 'av..."
6,73062356,104,Одиночество,QWAZAR,"{'id': '73062356', 'title': 'Одиночество', 'av..."
7,91677671,101,Cuba Libre,Markul,"{'id': '91677671', 'title': 'Cuba Libre', 'ava..."
8,42940850,84,Худший друг,Markul,"{'id': '42940850', 'title': 'Худший друг', 'av..."
9,90805155,82,В глаза,Port Avenue,"{'id': '90805155', 'title': 'В глаза', 'availa..."
10,83950833,79,В кого ты влюблена,Три дня дождя,"{'id': '83950833', 'title': 'В кого ты влюблен..."
11,84034261,78,По стилям,Port Avenue,"{'id': '84034261', 'title': 'По стилям', 'avai..."
12,83950830,76,Отражения,Три дня дождя,"{'id': '83950830', 'title': 'Отражения', 'avai..."
13,87691207,73,Цветы,Port Avenue,"{'id': '87691207', 'title': 'Цветы', 'availabl..."
14,86181200,73,1000-7,fem.love,"{'id': '86181200', 'title': '1000-7', 'availab..."
15,73557327,73,Да что романтичного в птичках?,pyrokinesis,"{'id': '73557327', 'title': 'Да что романтично..."
16,77386075,69,"Что ни день, то новость",plagueinside,"{'id': '77386075', 'title': 'Что ни день, то н..."
17,74726956,65,Мечта,Port Avenue,"{'id': '74726956', 'title': 'Мечта', 'availabl..."
18,50384813,65,В моей голове,saypink!,"{'id': '50384813', 'title': 'В моей голове', '..."
19,59826235,63,Ветер перемен,Asper X,"{'id': '59826235', 'title': 'Ветер перемен', '..."
20,83389814,60,Любовь на нож,"katanacss, aikko","{'id': '83389814', 'title': 'Любовь на нож', '..."
21,55599744,59,Экстрасекс,FIZICA,"{'id': '55599744', 'title': 'Экстрасекс', 'ava..."
22,100087265,58,WARLORD,Джизус,"{'id': '100087265', 'title': 'WARLORD', 'avail..."
23,73375339,57,Фудзи. Извержение,playingtheangel,"{'id': '73375339', 'title': 'Фудзи. Извержение..."
24,83389813,54,Русский сериал,katanacss,"{'id': '83389813', 'title': 'Русский сериал', ..."
25,86571288,53,Последнее письмо к Ленор,VULPES VULT!,"{'id': '86571288', 'title': 'Последнее письмо ..."
26,90380437,52,i remember,bbno$,"{'id': '90380437', 'title': 'i remember', 'ava..."
27,66496246,51,Мерзость,INSPACE,"{'id': '66496246', 'title': 'Мерзость', 'avail..."
28,97408768,50,Смелость,ЖЩ,"{'id': '97408768', 'title': 'Смелость', 'avail..."
29,74834543,49,С рождеством,INSPACE,"{'id': '74834543', 'title': 'С рождеством', 'a..."
30,53527107,48,ломки,katanacss,"{'id': '53527107', 'title': 'ломки', 'availabl..."
31,38080593,47,Neurotoxin,DEEP-EX-SENSE,"{'id': '38080593', 'title': 'Neurotoxin', 'ava..."
32,90299351,45,Аэропорты,Роки,"{'id': '90299351', 'title': 'Аэропорты', 'avai..."
33,61737606,44,Не солнышко светит,Роки,"{'id': '61737606', 'title': 'Не солнышко свети..."
34,72561872,44,Ла-Ла Лэнд,МОЛОДОСТЬ ВНУТРИ,"{'id': '72561872', 'title': 'Ла-Ла Лэнд', 'ava..."
35,66496239,43,Кроме твоего лица,"Три дня дождя, INSPACE","{'id': '66496239', 'title': 'Кроме твоего лица..."
36,100902601,40,Дивный новый мир,"VULPES VULT!, Port Avenue","{'id': '100902601', 'title': 'Дивный новый мир..."
37,63745235,39,Дурак,Радиопомехи,"{'id': '63745235', 'title': 'Дурак', 'availabl..."
38,55049473,39,Веснушки,NЮ,"{'id': '55049473', 'title': 'Веснушки', 'avail..."
39,53499435,38,Bad Trip,Asper X,"{'id': '53499435', 'title': 'Bad Trip', 'avail..."
40,83508026,38,Вода,Три дня дождя,"{'id': '83508026', 'title': 'Вода', 'available..."
41,38255119,38,Рубежи,Коrsика,"{'id': '38255119', 'title': 'Рубежи', 'availab..."
42,66144043,37,Хит,FIZICA,"{'id': '66144043', 'title': 'Хит', 'available'..."
43,91471183,37,GERONIMO,IVOXYGEN,"{'id': '91471183', 'title': 'GERONIMO', 'avail..."
44,70789272,36,Бардак,Одда,"{'id': '70789272', 'title': 'Бардак', 'availab..."
45,87292014,36,edamame,"bbno$, Rich Brian","{'id': '87292014', 'title': 'edamame', 'availa..."
46,45715330,36,"Больше, чем BDSM",FIZICA,"{'id': '45715330', 'title': 'Больше, чем BDSM'..."
47,66496237,35,Не хочу,INSPACE,"{'id': '66496237', 'title': 'Не хочу', 'availa..."
48,40326041,35,BDSM,FIZICA,"{'id': '40326041', 'title': 'BDSM', 'available..."
49,40795764,35,Мёртвого крика,этажность,"{'id': '40795764', 'title': 'Мёртвого крика', ..."
50,60762414,34,РАССВЕТ,Джизус,"{'id': '60762414', 'title': 'РАССВЕТ', 'availa..."
51,66938788,33,Васильки,Гости Гаррисона,"{'id': '66938788', 'title': 'Васильки', 'avail..."
52,34032181,32,Картонная,Asper X,"{'id': '34032181', 'title': 'Картонная', 'avai..."
53,73822066,32,Айседора,VULPES VULT!,"{'id': '73822066', 'title': 'Айседора', 'avail..."
54,87214315,30,Stoic,IVOXYGEN,"{'id': '87214315', 'title': 'Stoic', 'availabl..."
55,44337569,29,Твоему новому парню,Anacondaz,"{'id': '44337569', 'title': 'Твоему новому пар..."
56,40249951,29,Blues,Markul,"{'id': '40249951', 'title': 'Blues', 'availabl..."
57,42871975,29,Конан Дойл,DEEP-EX-SENSE,"{'id': '42871975', 'title': 'Конан Дойл', 'ava..."
58,79673758,29,Серотонин,МОЛОДОСТЬ ВНУТРИ,"{'id': '79673758', 'title': 'Серотонин', 'avai..."
59,59415643,28,"А, подожди",ONEDAY,"{'id': '59415643', 'title': 'А, подожди', 'ava..."